.footer {
  width: 100%;


  background-color: $color-bg-light-sec;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0 auto;
    max-width: 158rem;
    width: 95%;

    @media screen and (max-width: 1000px) {
      width: 100%;
    }

  }


  &__top {

    padding: 5rem 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;

    @media screen and (max-width: 1000px) {
      max-width: 67.1467%;
      padding: 5.5rem 0 9rem;
      gap: 5.5rem;
    }

    @media screen and (max-width: 600px) {
      max-width: 74.1%;
      padding: 4.2rem 0 5.8rem;
      gap: 4.5rem;
    }


    h3 {
      font-weight: 700;
      font-size: 4rem;
      line-height: 5.6rem;
      text-align: center;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      opacity: 0.8;

      max-width: 79rem;
      width: 90%;

      @media screen and (max-width: 600px) {
        width: 100%;
      }

    }


  }


  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 0 3rem;
    border-top: 1px solid rgba(#FFFFFF, 0.25);


    @media screen and (max-width: 1000px) {
      flex-flow: column;
      padding: 5.1rem 0 7.1rem;
      background-color: $color-bg;
      border-top: unset;
    }

    @media screen and (max-width: 600px) {
      padding: 3.3rem 0 5.5rem;
    }


    &__logo {
      width: 5.34rem;
      height: 5.34rem;
      transform: rotate(-12.39deg);

    }

    h5 {
      font-weight: 400;
      font-size: 1.7rem;
      line-height: 1.4rem;
      text-align: center;

      @media screen and (max-width: 1000px) {
        margin: 3.6rem 0 2.8rem;
      }

    }

    &__links {

      display: flex;
      gap: 1.135rem;

      a {
        width: 4.672rem;
        height: 4.655rem;
        border: 1.5px solid rgba(#FFFFFF, 0.25);
        box-sizing: border-box;
        border-radius: 1.95rem;

        display: flex;
        justify-content: center;
        align-items: center;

        transition:all 0.2s ease-in-out;
        &:hover{
          border-radius: 100%;
          border: 1.5px solid rgba(#FFFFFF, 1);
        }
      }

      .discordImg {
        width: 2.2rem;
        height: 1.6rem;
      }

      .twitterImg {
        width: 1.537rem;
        height: 1.313rem;
      }


    }

  }

}
