.sHero {

  display: flex;
  flex-flow: column;

  justify-content: center;
  align-items: center;
  position: relative;


  background-image: url("../../img/hero-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;


  &__top {
    margin-top: 32.7rem;
    width: 75.5%;

    flex-flow: column;

    @media screen and (min-width: 1500px) {
      min-width: 145rem;
    }

    @media screen and (max-width: 1000px) {
      margin-top: 27rem;
    }

    @media screen and (max-width: 850px) {
      width: 60.9%;
      min-width: 50.4rem;
    }

    @media screen and (max-width: 600px) {
      width: 88.8%;
      min-width: unset;
      margin-top: 23.3rem;
    }


    h1 {
      width: 100%;
      font-weight: 800;
      font-size: 12rem;
      line-height: 1.1833;
      text-align: center;

      @media screen and (max-width: 1500px) {
        font-size: 10rem;
      }

      @media screen and (max-width: 1200px) {
        font-size: 8rem;
      }

      @media screen and (max-width: 1000px) {
        font-size: 6rem;
      }

      @media screen and (max-width: 850px) {
        font-size: 5.5rem;
      }


      span {
        display: inline;

        img {
          width: 9.6rem;
          height: 9.6rem;

          @media screen and (max-width: 1500px) {
            width: 7.6rem;
            height: 7.6rem;
          }

          @media screen and (max-width: 1200px) {
            width: 6.6rem;
            height: 6.6rem;
          }

          @media screen and (max-width: 1000px) {
            width: 4.8rem;
            height: 4.8rem;
          }

          @media screen and (max-width: 850px) {
            width: 4.8rem;
            height: 3.6rem;
          }

        }

      }

      .word-favorite {
        position: relative;
        //linear-gradient(93.61deg, #AB5BDB 23.85%, #FFA370 100%)
        background: linear-gradient(93.61deg, #AB5BDB 23.85%, #FFA370 55.85%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;


        &:after {
          content: "favorite";
          display: block;
          position: absolute;
          top: 0;
          left: 0;

          height: 100%;
          transform: translate(-0.3%, 18%);

          background: linear-gradient(93.61deg, rgba(171, 91, 219, 0.2) 23.85%, rgba(255, 163, 112, 0.2) 55.85%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;

          //border: 1px solid red;
        }

      }

    }

    p {
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 118%;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);

      margin: 2.6rem 0 3.8rem;

      @media screen and (max-width: 1000px) {
        font-size: 1.8rem;
        margin: 2.6rem 0 4.8rem;
      }

      @media screen and (max-width: 600px) {
        margin: 2.1rem 0 6.7rem;
        width: 85%;
      }

    }

    &__buttons {

      width: 100%;
      display: flex;
      column-gap: 2.7rem;
      row-gap: 3.3rem;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 1000px) {
        flex-flow: column-reverse;
      }


      a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;
        height: 5.8rem;

        img {
          width: 2.8rem;
          height: 2.8rem;
        }
      }

    }

  }

  &__bottom {
    margin-top: 37.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.7rem;

    padding: 4.9rem 0 32.2rem;

    @media screen and (max-width: 1450px) {
      flex-flow: column;
    }

    @media screen and (max-width: 1000px) {
      margin-top: 21rem;
      gap: 4.8rem;
      padding: 2.2rem 0 16.2rem;
    }

    @media screen and (max-width: 500px) {
      margin-top: 16.4rem;
      gap: 3.6rem;
      padding: 3.4rem 0 16.4rem;
    }


    &__illustration {
      width: 37.083%;
      min-width: 71.2rem;

      background: linear-gradient(230.15deg, rgba(255, 255, 255, 0.148) -1.91%, rgba(196, 196, 196, 0) 103.88%, rgba(196, 196, 196, 0) 103.88%);
      filter: drop-shadow(0px 0.4rem 7.5rem rgba(0, 0, 0, 0.25));
      border-radius: 2rem;

      padding: 4.8rem 2.8rem 0 3.2rem;

      position: relative;

      @media screen and (max-width: 1000px) {
        min-width: 40.553rem;
        width: 40.553rem;

        padding: 2.734rem 1.652rem 0 1.823rem;

      }

      @media screen and (max-width: 500px) {
        min-width: unset;
        width: 81%;

        padding: 2.343rem 1.416rem 0 1.562rem;
      }


      &__logoBox {
        position: absolute;
        //right: 9.3rem;
        right: 12.07%;
        //top: -4.9rem;
        top: -13.611%;

        //width: 16.3rem;
        //height: 16.7rem;

        width: 22.9%;
        height: 46.388%;

        background: linear-gradient(234.87deg, #3C07FF -69.3%, #A48CFF 102.98%);
        box-shadow: 0 0.4rem 7.5rem rgba(0, 0, 0, 0.25);
        border-radius: 2rem;


        @media screen and (max-width: 500px) {
          top: -19.611%;
        }

        @media screen and (max-width: 400px) {
          aspect-ratio: 1/1;
          height: unset;
          top: -2rem;
        }


        img {
          //width: 10.35rem;
          //height: 10.35rem;
          width: 63.19%;
          height: 61.676%;
          object-fit: contain;
          transform: rotate(-12.39deg);

        }

      }

      &__top {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2.9rem;

        @media screen and (max-width: 1000px) {
          gap: 1.662rem;
        }

        &__rect {
          width: 31.3rem;
          height: 4.3rem;
          background: linear-gradient(240.27deg, #FFFFFF -88.41%, #636363 102.29%);
          opacity: 0.5;
          border-radius: 2.7rem;

          @media screen and (max-width: 1000px) {
            width: 18.853rem;
            height: 2.449rem;
          }

          @media screen and (max-width: 500px) {
            width: 51.15%;
            height: 2.1rem;
          }


        }

        &__circle {
          width: 4.3rem;
          height: 4.3rem;
          background: linear-gradient(240.27deg, #FFFFFF -88.41%, #636363 102.29%);
          opacity: 0.5;
          border-radius: 27px;

          @media screen and (max-width: 1000px) {
            width: 2.45rem;
            height: 2.45rem;
          }

          @media screen and (max-width: 500px) {
            width: 2.1rem;
            height: 2.1rem;
          }


          &.lastCircle {
            margin-left: auto;
          }
        }


      }

      &__boxFull {
        width: 100%;
        height: 21.8rem;
        margin-top: 5.1rem;
        background: linear-gradient(180deg, rgba(196, 196, 196, 0.2) 0%, rgba(196, 196, 196, 0) 100%);
        border-radius: 1.5rem;

        @media screen and (max-width: 1000px) {
          height: 12.417rem;
          margin-top: 3rem;
        }

        @media screen and (max-width: 500px) {
          height: 10.641rem;
          margin-top: 2.5rem;
        }


      }

    }


    &__content {
      width: 35.15625%;

      @media screen and (max-width: 1450px) {
        min-width: 71.2rem;
        text-align: center;
      }

      @media screen and (max-width: 1000px) {
        min-width: unset;
        width: 52.298%;
      }

      @media screen and (max-width: 700px) {
        min-width: unset;
        width: 81%;
      }


      h3 {
        font-weight: 800;
        font-size: 2.2rem;
        line-height: 3.4rem;
        margin: 2.2rem 0 1.6rem;

        @media screen and (max-width: 1000px) {
          margin: 2.7rem 0 1.8rem;
          font-size: 1.9rem;
          line-height: 2.6rem;
        }

      }

      h4 {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;

        color: rgba(255, 255, 255, 0.65);

        @media screen and (max-width: 1000px) {
          font-size: 1.6rem;
          line-height: 2.25rem;
        }

      }

    }

  }

}

.sFeatures {

  background: #3600FF;

  padding: 21.7rem 37.6rem 16.8rem 19.5rem;
  position: relative;


  @media screen and (max-width: 1650px) {
    padding: 21.7rem 19.5rem 16.8rem 19.5rem;
  }


  @media screen and (max-width: 1450px) {
    padding: 21.7rem 0 16.8rem;
  }


  @media screen and (max-width: 1000px) {
    padding: 19.5rem 0 23.6rem;
  }


  @media screen and (max-width: 500px) {
    padding: 20.3rem 0 22.3rem;
  }


  &__noiseBg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../img/noise-bg.png");
    z-index: 2;
    opacity: 0.2;
  }

  &__container {
    z-index: 10;
    position: relative;

    //width: 70.3125%;

    @media screen and (max-width: 1450px) {
      width: 76.7%;
      margin: 0 auto;
    }

    @media screen and (max-width: 500px) {
      width: 100%;
    }

  }

  h1 {
    font-weight: 800;
    font-size: 10rem;
    line-height: 1;
    //line-height: 1.6rem;

    margin-bottom: 7rem;

    @media screen and (max-width: 1000px) {
      font-size: 5rem;
      margin-bottom: 3.6rem;
      width: 100%;
      text-align: center;
    }

  }

  &__section {

    &:not(:last-of-type) {
      margin-bottom: 8.7rem;

      @media screen and (max-width: 1000px) {
        margin-bottom: 20.7rem;
      }

      @media screen and (max-width: 500px) {
        margin-bottom: 12rem;
      }

    }

    h2 {
      font-weight: 800;
      font-size: 2.8rem;
      line-height: 118%;

      @media screen and (max-width: 1000px) {
        width: 100%;
        text-align: center;
      }

      @media screen and (max-width: 500px) {
        width: 83.6%;
        text-align: left;
        margin: 0 auto;
      }

    }

    &__divider {
      background: rgba(255, 255, 255, 0.29);
      width: 100%;
      height: 0.2rem;
      margin: 1.6rem 0 4.5rem;

      @media screen and (max-width: 1000px) {
        max-width: 34rem;
        width: 100%;
        margin: 1.6rem auto 6.4rem;
      }

      @media screen and (max-width: 500px) {
        width: 83.6%;
        margin: 1.6rem auto 4.1rem;
        max-width: unset;
      }


    }

    &__boxes {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      row-gap: 6.3rem;

      --itemWidth: 25%;
      --rowItem: 4;
      --gutter: 5.9rem;

      column-gap: var(--gutter);


      @media screen and (max-width: 1500px) {
        --itemWidth: 33.33%;
        --rowItem: 3;
        --gutter: 5.3rem;
      }


      @media screen and (max-width: 1300px) {
        --itemWidth: 50%;
        --rowItem: 2;
        --gutter: 5.3rem;
      }

      @media screen and (max-width: 650px) {
        --itemWidth: 100%;
        --rowItem: 1;
        --gutter: 5.3rem;
      }

      & > .featureBox {
        @media screen and (max-width: 500px) {
          display: none;
        }
      }


      &__slider {
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        max-width: 100%;

        &.premiumSlider {
          padding-left: 2.4rem;
        }


        .swiper {
          padding: 1rem 0;
        }

        @media screen and (min-width: 501px) {
          display: none;
        }

      }


    }

  }


}

.sFeatureSlider {
  width: 100%;
  padding: 3.5rem 0;
  background-color: $color-bg-light;

  @media screen and (max-width: 500px) {
    padding: 4.8rem 0;
  }


  .swiper-slide {
    width: auto !important;
    transition: opacity 0.1s ease-in-out;
  }


  .swiper-slide:not(.swiper-slide-active){
    @media screen and (max-width: 500px) {
      opacity: 0.1;
    }
  }

}

.sPricing {

  padding: 25.5rem 0 31rem;

  @media screen and (max-width: 1600px) {
    padding: 11.2rem 2rem 26rem;
  }

  @media screen and (max-width: 500px) {
    padding: 14rem 0 10rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
  }

  h1 {
    font-weight: 800;
    font-size: 5rem;
    line-height: 118%;
    text-align: center;
  }


  &__boxes {
    margin-top: 9.7rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    column-gap: 4.7rem;
    row-gap: 11.2rem;

    @media screen and (max-width: 1350px) {
      flex-flow: column;
      align-items: center;
    }

    @media screen and (max-width: 1000px) {
      margin-top: 6rem;
    }

    @media screen and (max-width: 650px) {
      margin-top: 5.6rem;
      row-gap: 4.5rem;
    }

  }

}
