.featureBox {
  background: linear-gradient(230.15deg, rgba(255, 255, 255, 0.4) -36.64%, rgba(196, 196, 196, 0.4) 103.88%);
  box-shadow: 0 10px 0 rgba(255, 255, 255, 0.19), 0 4px 75px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;

  width: calc(var(--itemWidth) - var(--gutter) * (var(--rowItem) - 1) / var(--rowItem));
  height: 25.3rem;
  //width: calc(100% / var(--itemWidth));


  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  gap: 2.9rem;
  position: relative;

  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;

  &.spacingSm {
    gap: 1.4rem;
  }


  &__imgBox{
    min-width: 12rem;
    min-height: 12rem;
    width: 12rem;
    height: 12rem;

    //background-size: 330rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;

    img {
      min-width: 12rem;
      min-height: 12rem;
      width: 12rem;
      height: 12rem;
    }


  }


  h3 {
    font-weight: 800;
    font-size: 25px;
    line-height: 118%;
    text-align: center;
    width: 100%;

    padding-left: 1.9rem;
    padding-right: 1rem;
  }


  &:hover {
    background: linear-gradient(210.96deg, rgba(36, 33, 81, 0.74) 0.01%, rgba(38, 35, 83, 0.78) 42.05%, rgba(47, 45, 97, 0.51) 104.81%);
    box-shadow: 0 4px 0 rgba(255, 255, 255, 0.25), 0 5px 73.2692px rgba(23, 18, 43, 0.55);
    //backdrop-filter: blur(20.3526px);

    @media screen and (max-width: 500px) {
      box-shadow: 0 4px 0 rgba(255, 255, 255, 0.25), 0 4px 73.2692px rgba(23, 18, 43, 0.55);
    }

    //cursor: pointer;
  }

}


.featureBox.box-coin-tracker{
  .featureBoxIcon{
    //background-image: url("../../img/eth-dynamic-gradient.png");

  }

  //&:hover{
  //  .featureBoxIcon{
  //    background-image: url("../../img/gif/CoinAlert-1.gif?acds");
  //  }
  //}
}
