.topBar {

  position: fixed;
  top: 2.5rem;
  z-index: 1000;
  //left: 50%;
  //transform: translateX(-50%);
  transform: scaleX(0);
  margin: 0 auto;
  transform-origin: center center;
  transition: transform 0.2s ease;


  width: 79.6875%;
  height: 10rem;
  padding: 1.8rem 5.2rem 1.8rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(99.52deg, rgba(255, 255, 255, 0.026) 28.93%, rgba(255, 255, 255, 0.042) 73.52%);
  border: 1px solid rgba(255, 255, 255, 0.17);
  box-sizing: border-box;
  backdrop-filter: blur(5rem);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 1.6rem;


  @media screen and (max-width: 1000px) {
    width: 88.8%;
    height: 7.6rem;
    padding: 1.7rem 3rem 1.7rem 2.4rem;
  }

  @media screen and (max-width: 600px) {
    padding: 1.7rem 1.7rem 1.7rem 2.2rem;
  }


  &.hideNav {
    transform: translateY(-12.5rem) !important;
  }

  &__logo {

    display: flex;
    align-items: center;

    img{
      width: 6.3rem;
      height: 6.3rem;
      transform: rotate(-12.39deg);

      @media screen and (max-width: 1000px) {
        width: 4.15rem;
        height: 4.15rem;
      }
    }

    h5{
      font-size: 1.8rem;
      line-height: 1.6rem;
      margin-left: 1.6rem;
      font-weight: 800;
    }

  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 2rem;
    font-weight: 800;
    line-height: 0.89;
    text-align: center;


    .topBarWord {
      display: inline-block;
    }

    .imgCont {
      width: 1.55rem;
      height: 1.6rem;
      overflow: hidden;
      transition: all 0.1s ease-in-out;

      img {
        width: 1.55rem;
        height: 1.6rem;
      }
    }

    &:hover .imgCont {
      transform: translateX(5px);
    }

  }

}

